.container
  .row
    .col-lg-6
      %h4 All available codes:
      %ul
        %li(ng-repeat="(key, message) in messages")
          %a(href="{{ key }}" target="_blank") {{ key }}
          %span {{ message }}
