.navbar-inverse
  .container
    %a.navbar-brand(href='/') Codebreaker
    %ul.nav.navbar-nav
      %li
        %a(href='/dashboard') Dashboard

%div(ng-view)

-# .container
  .row
    .col-lg-6
      .well
        %pre $route.current.params = {{$route.current.params}}
        %pre $routeParams = {{$routeParams}}
        %pre $scope.messages = {{messages}}
